html {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  margin: 0;
  cursor: default;
  display: flex;
  flex-direction: column;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
